<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rethinkdb" type="RethinkDb.Configuration.RethinkDbClientSection, RethinkDb"/>
  </configSections>
  <rethinkdb>
    <clusters>
      <cluster name="rdb">
        <defaultLogger enabled="true" category="Warning"/>
        <connectionPool enabled="true"/>
        <networkErrorHandling enabled="true" />
        <endpoints>
          <endpoint address="84.247.81.26" port="28015"/>
          <endpoint address="84.247.81.28" port="28015"/>
        </endpoints>
      </cluster>
    </clusters>
  </rethinkdb>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>